<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="site-head">
		<meta charset="UTF-8"/>
		<link href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
		 <script src="../static/jquery/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
		<meta th:include="this :: head" th:remove="tag"/>
		<title>Yuk Produktif!</title>
	</head>
	<body>
		<header th:fragment="site-header">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#" th:href="@{/}">Yuk Produktif Reminder App</a>
			    </div>
			    <ul class="nav navbar-nav">
			      <li><a href="index.html" th:href="@{/}">Home</a></li>
			      <li><a href="sign-up.html" th:href="@{/}">Sign Up</a></li>
			      <li><a href="my-token.html" th:href="@{/}">What's my token?</a></li>
			    </ul>
			  </div>
			</nav>
		</header>
		<footer th:fragment="site-footer">
			&copy; 2017 | 141524003
		</footer>
	</body>
</html>